﻿h1 {
	border-bottom: 1px solid #D6DDE6;
}

h3 {
    border-bottom: 1px solid #D6DDE6;
    /*rgb(229, 236, 249);*/
}

span.wrap {
    background: #eee;
    display: inline-block;
    margin: 0 0 14px;
    padding: 3px;
    line-height: 1;
       -moz-border-radius: 5px;
    -webkit-border-radius: 5px; 
}

#note_area_row {
    margin-top: 5px;
}

#key_list .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
    display: none;
}

#key_list li.active .icon-chevron-right {
    display: block;
}

#key_list span.ts {
	font-size: 0.8em;
	color: rgb(192, 199, 209); /*#D6DDE6;*/
	float: right;
	}

#sort-by-date .icon-ok {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .50;
    display: none;
}

#sort-by-date.selected .icon-ok {
    display: block;
}

.no-sidebar {
    margin-left:0 !important;
}


/* Table */
table th {
    font-weight: bold;
}
table th, table td {
    border: 1px solid #CCCCCC;
    padding: 6px 13px;
}
table tr {
    background-color: #FFFFFF;
    border-top: 1px solid #CCCCCC;
}
table tr:nth-child(2n) {
    background-color: #F8F8F8;
}

/* Fixed width font for textarea */
textarea#note_textarea {
	font-family: 'Menlo', 'Monaco', 'Courier', fixed;
	font-size: 0.8em;
    -moz-tab-size: 2;
    -o-tab-size:   2;
    tab-size:      2;
}

@page {
  margin-top: 2cm;
  margin-bottom: 2cm;
}

/*
@media (min-width: 1200px) {
    .span-note {
        min-width: 600px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span-note {
        min-width: 400px;
    }
}
*/
